html, body {
	background: #fdf6e3;
	color: #657b83;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	line-height: 1.5;
}

#container {
	margin: auto;
	width: 640px;
}
	

	h1 {
		color: #859900;
	}

		h1 span {
			color: #d33682;
			font-weight: normal;
			text-transform: uppercase;
		}
	
	h2, h3 { font-weight: normal; }

	a { color: #268bd2; }
	a:hover { 
		background: #eee8d5;
		color: #2aa198;
		text-decoration: underline;
	}

	#button-row { margin-top: 3em;}

	canvas {
		border: 1px solid #d33682;
		outline: 5px solid #eee8d5;
		margin-bottom: 1em;
	}